.aboutContainer {
    padding-top: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.backgroundGradient {
    width: 100%;
    height: 100%;
    background-color: #140921;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    pointer-events: none;
}

.circleGradient1,
.circleGradient2,
.circleGradient3,
.circleGradient4 {
    position: absolute;
    border-radius: 50%;
}

.circleGradient1 {
    width: 80rem;
    height: 80rem;
    background-image: radial-gradient(circle, #321f4e, #140921 50%);
    top: 0;
    left: 0;
}

.circleGradient2 {
    width: 80rem;
    height: 80rem;
    background-image: radial-gradient(circle, #321f4e, #1f1034, #140921 50%);
    right: 0;
    top: 20%;
}

.circleGradient3 {
    width: 80rem;
    height: 80rem;
    background-image: radial-gradient(circle, #321f4e, #140921 50%);
    left: 0;
    bottom: 22%;
}
.circleGradient4 {
    width: 80rem;
    height: 80rem;
    background-image: radial-gradient(circle, #321f4e, #140921 50%);
    left: 20%;
    bottom: 5%;
}

.aboutSubtitleContainer{
    width: 90%;
}

.aboutSubtitleContainer h5{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 1.5rem;
}

.aboutCardContainer{
    width: 90%;
    display: grid;
    column-gap: 2rem;
    row-gap:2rem;
    grid-template-columns: auto auto;
    padding: 10px;
}

@media (min-width: 300px) and 
        (max-width: 900px) {
            .aboutCardContainer{
                grid-template-columns: auto;
            }
            .circleGradient1 {
                width: 20rem;
                height: 20rem;
                top: 0;
                left: 0;
            }
            .circleGradient2 {
                width: 20rem;
                height: 20rem;
                right: 0;
                top: 20%;
            }
            .circleGradient3 {
                width: 20rem;
                height: 20rem;
                left: 0;
                bottom: 22%;
            }
            .circleGradient4 {
                width: 30rem;
                height: 30rem;
                left: -20%;
                bottom: 5%;
            }
            
        }