.homeContainer {
    padding-top: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.loadingContainer{
    background-color: #140921;
    height: 100vh;
}

.backgroundGradient {
    width: 100%;
    height: 100%;
    background-color: #140921;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    pointer-events: none;
}

.circleGradient1,
.circleGradient2,
.circleGradient3,
.circleGradient4 {
    position: absolute;
    border-radius: 50%;
}

.circleGradient1 {
    width: 50rem;
    height: 50rem;
    background-image: radial-gradient(circle, #1f1034, #140921 50%);
    top: 0;
    left: 0;
}

.circleGradient2 {
    width: 50rem;
    height: 50rem;
    background-image: radial-gradient(circle, #2d174a, #1f1034, #140921 50%);
    right: 0;
    top: 20%;
}

.circleGradient3 {
    width: 50rem;
    height: 50rem;
    background-image: radial-gradient(circle, #1f1034, #140921 50%);
    left: 0;
    bottom: 22%;
}
.circleGradient4 {
    display: none;
    width: 50rem;
    height: 50rem;
    background-image: radial-gradient(circle, #321f4e, #140921 50%);
    left: 20%;
    bottom: 5%;
}



.titleContainer{
    color: white;
    width: 90%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}

.title{
    font-weight: 500;
    font-size: 3rem;
}

.subtitle{
    font-weight: 300;
    font-size: 1.3rem;
}

@media (min-width: 300px) and 
        (max-width: 900px) {
            .title{
                font-size: 2.2rem;
            }
            .subtitle{
                font-weight: 200;
                font-size: 1rem;
            }
            .cardContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5rem;
            }
            .circleGradient1 {
                width: 20rem;
                height: 20rem;
                top: 0;
                left: 0;
            }
            .circleGradient2 {
                width: 20rem;
                height: 20rem;
                right: 0;
                top: 20%;
            }
            .circleGradient3 {
                width: 20rem;
                height: 20rem;
                left: 0;
                bottom: 22%;
            }
            .circleGradient4 {
                display: block;
                width: 30rem;
                height: 30rem;
                left: -20%;
                bottom: 5%;
            }
        }